streamlit
scikit-learn
matplotlib
numpy
pandas
datetime
seaborn
cycler        
plotly
scipy             
opencv-python
scikit-image
pydicom
folium
pyvista
trame
ipywidgets
networkx
pyvis
dash
jupyter-dash